.btn {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    180deg,
    rgba(237, 182, 0, 1) 0%,
    rgba(255, 98, 0, 1) 100%
  );
  padding: 0.3rem 0.8rem;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 0.8rem;
  border: 3px solid rgba(241, 185, 0, 1);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: max-content;
  cursor: pointer;
  z-index: 100;
}
